@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant);

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #313943;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 0;
}

.title-block {
  position: relative;
}

.title-block__title {
  flex: 1 0 auto;
  margin: 0 20px;
  color: #fff;
  font-family: 'Cormorant Infant', serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1px;
  text-shadow: 2px 2px 2px #5588A3;
}

.title-block__author {
  position: absolute;
  top: 5px;
  right: 35px;
  & a {
    color: #fff;
    font-style: italic;
    text-decoration: none;
    transition: color 0.5s;
    &:hover {
      color:#1fcfcb;
    }
  }
}

.header__info {
  flex: 0 1 auto;
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 16px;
  }
}

p {
	color: #bbc8d8;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 36px;
}


@media (max-width: 812px) {
  .title-block__title {
    text-align: center;
    margin-bottom: 15px;
  }
}
