.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.palette__add-color {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  color: #fff;
  transition: background 0.5s;
  font-size: 24px;
  background: #5588A3;
  .icon {
    font-size: 128px;
    line-height: 128px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
  }
  &:hover {
    background: #1fcfcb;
  }
}

.palette-enter {
  opacity: 0;
  transition: opacity 0.5s;
  &.palette-enter-active {
    opacity: 1;
  }
}
